<div class="Container">
  <div class="row">
    <div class="Menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="main-menu menuStyle">
        <img src="../assets/images/1611771130795005_229240098.jpg" width="30%" height="150px">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"> &nbsp;<i class="fa fa-caret-down"
            aria-hidden="true"></i></i>
        <span class="text">Hello Guru</span>
      </div>
      <div class="sub-menu">
        <h1 style="text-align: center;">You logged in as 'Recordent PVT ltd'</h1>
        <p style="text-align: center;">You are Subscribed for <span style="color: green;">Basic</span> Plan</p>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-8 offset-md-2">
      <div class="carousel-item active">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" style="color: blue;"><i class="fa fa-money"
                aria-hidden="true"></i> &nbsp; <b> Customer Dues</b> </a>
          </li>
          <li class="nav-item" style="background-color: rgb(241, 239, 239);">
            <a class="nav-link" data-toggle="tab" href="#menu1">Total <i class="fa fa-caret-down"
                aria-hidden="true"></i></a>
          </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <table class="table">
              <tbody>
                <tr>
                  <td>Customer Submitted</td>
                  <td>75</td>

                </tr>
                <tr>
                  <td>Due Submitted</td>
                  <td>&#8377; 3.6 L <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></td>

                </tr>
                <tr>
                  <td>Amount Collected</td>
                  <td>&#8377; 45 L <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></td>

                </tr>
                <tr>
                  <td>Balance Due</td>
                  <td>&#8377; 3.15 L</td>

                </tr>
              </tbody>
            </table>
            <button class="btn btn-block btn-primary" style="text-align: left;"><i class="fa fa-cc-mastercard"
                aria-hidden="true">&nbsp; </i>Update Payment <i class="fa fa-arrow-right"
                aria-hidden="true"></i></button>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="Container">
    <div class="Carosal-menu">

      <div class="Payment-history-menu">
        <div class="payment">
          <h1>Check Credit & Payment History</h1>
          <div class="para col-md-8 offset-md-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, quos molestias quidem exercitationem
              consequatur velit veritatis voluptatem sed nam vel doloribus, repellat ratione maxime debitis molestiae.
              Quod illum ullam quibusdam.</p>
          </div>
          <div class="card col-md-8 offset-md-2 col-lg-8 offset-md-2">

            <div class="form-group">

              <input type="text" class="form-control" id="usr" value=" Individual Credit Report">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <a href="sample">Sample</a>
            </div>

            <div class="form-group1">
              <input type="text" style="color: darkblue;" class="form-control" id="usr" value="Bussiness Credit Report">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <a href="sample">Sample</a>

            </div>
            <div class="form-group2">
              <input style="color: red;" type="text" class="form-control" id="usr" value="US Bussiness Credit Report">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <a href="sample">Sample</a>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="menu1" style="display:inline-block;">
    <div class="dashbord" id="element">
      <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
      <p style="margin-left: -20px;">Dashbord</p>
    </div>
    <div class="Dues" id="element">
      <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
      <p style="margin-left: -20px;">Submit Dues</p>
    </div>
    <div class="ManageDues" id="element">
      <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
      <p style="margin-left: -30px;">Manage Dues</p>
    </div>

    <div class="Reports" id="element">
      <i class="fa fa-bug fa-2x" aria-hidden="true"></i>
      <p style="margin-left: -15px;">Reports</p>
    </div>
    <div class="More" id="element">
      <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
      <p style="margin-left: -6px;">More</p>
    </div>



  </div>
</div>